body { 
    font-family: 'Montserrat', sans-serif;
    font-size: 14px;      
}
.intro {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100vh;
    padding: 0 18.75%;
    background-image: url(../images/intro/Layer15.jpg);
    background-repeat: no-repeat;
    background-position: top center;
    background-size: cover;
    color: white;
}
.intro header {
    display: flex;
    justify-content:space-between;
    align-items: center;
    margin-top: 20px;
}
.intro header h1 {
    font-size: 2.1rem;
    font-weight: bold;
}
.intro header nav {
    text-transform: uppercase;
    display: inline-block;
}
.intro header nav a {
    color:white;   
    text-decoration: none;
    position: relative;
    margin: 0 20px;
     
    transition: all 0.2s linear; 
}
.intro header nav a:hover {   
    color: #fce38a;  
}
.intro header nav a::after {
    content: "";
    display: block;
    width: 100%;
    height: 2px;
    background-color: #fce38a;
    position: absolute;
    top: 100%;
    left: 0;
    opacity: 0;

    transition: opacity 0.2s linear;
}
.intro header nav a:hover::after {
    opacity: 1;
}
.intro main{
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
}
.intro main h2{
    font-family: 'Kaushan Script', cursive;
    font-size: 4rem;

    display: block;   
}
.intro main h1{
    text-transform: uppercase;
    font-size: 8rem;
    font-weight: bold;

    display: block;
}
.intro main h1::after {
    content: "";
    display: block;
    background-color: white;
    width: 60px;
    height: 3px;
    margin: 60px auto;
}
.intro main a{
    display: inline-block;
    
    padding: 8px 60px;
    border: 3px solid white;
    color: white;
    margin:0 auto;

    text-decoration: none;
    text-transform: uppercase;  

    transition: color 0.2s linear, background-color 0.2s linear;
}
.intro main a:hover{
    color: #efc988;
    background-color: white;
}
.slider{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.slider a{
    display: inline-block;
    font-size: 1.25rem;
    width: 24%;
    padding: 20px 0;
    border-top: 3px solid white;
    text-decoration: none;
    color: white;
    text-transform: uppercase;
    transition: border 0.2s linear, color 0.2s linear;
    position: relative;

    transition: color 0.2s linear;
}
.slider a:hover{
    color: #f38181;
}
.slider a::before{
    content: "";
    display: block;
    background-color: #f38181;
    height: 3px;
    position: absolute;
    top: -3px;
    width: 100%;
    opacity: 0;
    transition: opacity 0.2s linear;
}
.slider a:hover::before{
    opacity: 1;
}

section{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.section__header{
    margin-top: 4rem;
    text-align: center;
    padding: 0 18.75%;
}
.section__suptitle{
    font-family: 'Kaushan Script', cursive;
    font-size: 24px;
    margin: 20px;
}
.section__title{
    font-weight: 700;
    text-transform: uppercase;
    font-size: 30px;
}
.section__title::after{
    content: "";
    display: block;
    background-color: #f38181;
    height: 3px;
    width: 60px;
    margin: 60px auto;
}
.section__text{
    color: #999;
    font-size: 15px;
    margin: 5%;
}
.photos{
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    max-width: 100%;
    margin-bottom: 160px;
}
.image{
    background: linear-gradient(to bottom, #f38181, #fce38a);
    transition: all 0.2s linear;
    position: relative;
    margin: 10px;
}
.image img {
    display: block;
}
.image__title{
    width: 100%;
    text-align: center;
    display: block;
    opacity: 0;
    transition: opacity 0.2s linear;
    text-transform: uppercase;
    color: white;
    font-size: 18px;
    font-weight: 700;
    position: absolute;
    top: 50%;
    left: 0;
    z-index: 2;
    transform: translate3d(0, -50%, 0);
}
.image:hover .photo{
    opacity: 0.1;    
}
.image:hover{
    transform: translate3d(-10px, -10px, 0);
}
.image:hover .image__title{
    opacity: 1;
}

.about__achievments{
    padding: 0 18.75%;
    background-color: #95e1d3;
}
.about__achievments__list{
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}
.about__achievments__list__item{
    padding: 90px 0;
    width: 20%;
    box-sizing: border-box;
    border-right: solid 1px #b5eae0;
}
.about__achievments__list__item:first-child{
    border-left: solid 1px #b5eae0;
}
.achievment_digits{
    display: block;
    color: white;
    text-align: center;
    font-size: 72px;
}
.achievment_title{
    display: block;
    color: white;
    text-align: center;
    text-transform: uppercase;
}
.container{
    width: 100%;
    max-width: 1800px;
    margin: 0 auto;
}
.services__list{
    margin-bottom: 100px;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.services__row__item{
    display: flex;
    flex-direction: row;
    box-sizing: border-box;
    padding: 50px 40px 50px 30px;
    min-width: 200px;
    max-width: 500px;
}
.services__row__item img{
    height: 32px;
    width: 32px;
}
.services__row__item__text{
    margin-left: 6%;
}
.services__row__item__text h3{
    text-transform: uppercase;
    display: block;
    margin-bottom: 13px;
    margin-top: -3px;
}
.services__row__item__text p{
    text-align: left;
    color: #b3b3b3;
    font-size: 15px;
}
.design{
    background-image: url(../images/design/Layer\ 45.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 850px;
}
.design__devices{
    display: flex;
    flex-direction: row;
    justify-content: center;
    position: relative;
}
.ipad{
    margin-top: -40px;
    padding-right: 40px;
}
.iphone{
    position: absolute;
    bottom: -110px;
    left: 57%;
}
.photo__and__accordion{
    display: flex;
    justify-content: center;
    flex-direction: row;
}
.accordion{
    margin-left: 40px;
}
.accordion__item{
    border: solid 1px #e5e5e5;
    margin: 5px;
}
.accordion__item.active p {
    display: block;
}
.accordion__item.active .accordion__item__header::after{
    transform: rotate(-45deg);
    top: 28px;
}
.accordion__item__header{
    display: flex;
    width: 100%;
    justify-content: left;
    
    position: relative;
}
.accordion__item__header:after{
    content: "";
    display: block;
    width: 12px;
    height: 12px;
    border-top: solid 2px #999;
    border-right: solid 2px #999;

    position: absolute;
    right: 20px;
    top: 20px;

    transform: rotate(135deg);
}
.accordion__item__header img{
    display: block;
    margin: 15px;
}
.accordion__item__header h3{
    display: block;
    text-transform: uppercase;
    margin-top: 22px;
    position: relative;
}
.accordion__item p{
    border-top: solid 1px #e5e5e5;
    color:#999;
    text-align: justify;
    padding: 15px;
    font-style: italic;
    font-weight: 300;
    display: none;
}
.image__share__links{
    display: flex;
    justify-content: center;
    background-color: #fce38a;
    opacity: 0;
    transition: opacity 0.2s linear;
    margin: 0 auto;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate3d(-50%, -50%, 0);
}
.image__share__links a:hover{
    background-color: #f38181;
}
.photo:hover .image__share__links{
    opacity: 1;
}
.image__share__links a{
    width: 55px;
    height: 55px;
    position: relative;
    border-right: solid 1px #f38181;
}
.image__share__links a:last-child{
    border: none;
}
.image__share__links a img{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate3d(-50%, -50%, 0);
}

.reviews{
    margin: 120px 0;
    padding: 70px 0;
}
.review__item{
    width: 1200px;
    margin: 0 auto;
    position: relative;
    display: none;
    justify-content: left;
}
.review__item.active{
    display: flex;
}
.review__item:before{
    content: "";
    display: block;
    width: 12px;
    height: 12px;
    border-top: solid 2px #999;
    border-right: solid 2px #999;

    position: absolute;
    left: -50px;
    top: 47%;

    transform: rotate(-135deg);

}
.review__item:after{
    content: "";
    display: block;
    width: 12px;
    height: 12px;
    border-top: solid 2px #999;
    border-right: solid 2px #999;

    position: absolute;
    right: -50px;
    top: 47%;

    transform: rotate(45deg);
}
.review__item__avatar{
    padding: 40px;
    border: solid 3px #95e1d3;
}
.review__item__content{
    margin: 0 30px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.review__item__text{
    font-size: 25px;
    font-weight: 300;
    font-style: italic;
    color: #999;
    text-align: justify;
}
.review__item__caption{
    color: black;
    font-size: 24px;
    font-style: italic;
    font-weight: 400;
    position: relative;
    padding-left: 65px;
}
.review__item__caption::before{
    content: "";
    display: block;
    background-color:#f38181;
    width: 60px;
    height: 3px;
    position: absolute;
    top: 0.5em;
    left: 0;
}

.brands{
    margin: 120px 0 110px;
    background-color: #f8f8f8;
}
.brands__item{
    margin: 0 auto;
    padding: 70px 0;
    width: 1200px;
}

.works__photos{
    display: flex;
    justify-content: center;
}
.works__photos__column{
    max-width: 25%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.works__photo{
    display: block;
    background: linear-gradient(to bottom, #f38181, #fce38a);
    transition: all 0.2s linear;
    position: relative;
}
.works__image{
    width: 100%;
    height: auto;
    display: block;
    transition: opacity 0.2s linear;
}
.works__photo:hover .works__image{
    opacity: 0.1;
}
.works__photo__title{
    transition: opacity 0.2s linear;
    opacity: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate3d(-50%, -50%, 0);
}
.works__photo:hover .works__photo__title{
    opacity: 1;
}
.works__photo__title img{
    display: block;
    margin: 0 auto;
    padding: 20px;
    filter: brightness(0) invert(1);
}
.works__photo__title h2{
    color: white;
    text-transform: uppercase;
}
.gray__background{
    background-color: #f8f8f8;
}
.circle{
    padding: 0;
    border: none;
    border-radius: 50%;
}
.clients{
    background-image: url(../images/reviews/Layer\ 53.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}
.clients__review{
    display: flex;
    flex-wrap: wrap;
}
.clients__review__item{
    box-sizing: border-box;
    width: 50%;
    padding: 50px;
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
}
.clients__review__item__avatar{
    margin-right: 30px;
}
.clients__review__item__text{
}
.clients__review__item__text h2{
    display: block;
    margin: 20px 0;
    text-transform: uppercase;
}
.clients__review__item__text h3{
    display: block;
    margin: 20px 0;
    font-style: italic;
    font-weight: 300;
}
.clients__review__item__text h3::after{
    content: "";
    display: block;
    background-color: #f38181;
    height: 3px;
    width: 60px;
    margin-top: 20px;
}
.clients__review__item__text p{
    display: block;
    margin: 20px 0;
    color: #999;
}

@media (max-width: 1200px){
    .intro main h1 {
        font-size: 6rem;
    }
    .intro main h2 {
        font-size: 3rem;
    }
    .about__achievments__list__item{
        padding: 45px 0;
    }
    .achievment_digits{
        font-size: 56px;
    }
    .achievment_title{
        font-size: 14px;
    }
    
}
@media (max-width: 1000px){
    .intro header nav{
        display: none;
    }
}
@media (max-width: 820px){
    .intro main h1 {
        font-size: 4rem;
    }
    .intro main h2 {
        font-size: 2rem;
    }
    .slider a{
        display: none;
    }
    .about__achievments__list{
        display: flex;
        flex-direction: column;
        justify-content: center;
    }
    .about__achievments__list__item{
        margin: 0 auto;
        padding: 90px 10px;
        width: 50%;
        box-sizing: border-box;
        border-right: solid 1px #b5eae0;
        border-left: solid 1px #b5eae0;
    }
    .about__achievments__list__item:first-child{
        border-left: solid 1px #b5eae0;
    }
    .achievment_digits{
        display: block;
        color: white;
        text-align: center;
        font-size: 72px;
    }
    .achievment_title{
        display: block;
        color: white;
        text-align: center;
        text-transform: uppercase;
    }
}